* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: 70vw;
  overflow: hidden;
}

#map {
  height: 100vh;
  width: 100%;
  position: relative;
}

.btn-arrow {
  margin-left: 6rem;
  top: 0rem;
  position: absolute;
}

.btn-arrow:hover {
  content: url(./imgs/button4.jpeg);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.black-background {
  background-color: black;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.flex-container h1 {
  width: 350px;
  color: var(--White, #fff);
  font-family: Big Shoulders Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 45px; /* 90% */
  text-transform: uppercase;
}

.three-text {
  width: 40%;
  height: 100%;
}
.three-text h2 {
  color: var(--Gold, #d5966c);
  font-family: Big Shoulders Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px; /* 100% */
  text-transform: uppercase;
}

.three-text p {
  width: 100%;
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.footer {
  display: flex;
  width: 100%;
  height: 25vh;
  background: var(--Gold, #d5966c);
  align-items: center;
  justify-content: space-around;
}

.f-head {
  background-repeat: no-repeat;
  height: 20%;
  width: 20%;
}

.f-mid {
  margin-left: 1rem;
  display: flex;
  height: 40%;
  width: 40%;
  color: black;
  font-size: 1.2rem;
}

.f-bot {
  display: flex;
  height: 20%;
  width: 20%;
  background-image: url('./imgs/Group\ 9_1.png');
  background-repeat: no-repeat;
  background-position: right;
}

@media (max-width: 768px) {
  .container {
    height: 50vh;
  }
  .black-background {
    height: 20vh;
    box-sizing: border-box;
  }

  .footer {
    height: 20vh;
  }
}
